@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&family=Poppins:wght@300;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Poppins', sans-serif !important;
  }
}

body {
  margin: 0;
  /* font-family: 'Inter', sans-serif; */
font-family: 'Poppins', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(239, 239, 239);
}

.login .ant-input {
  width: 100%;
    padding: 10px 15px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif !important;
}

.login .ant-input-affix-wrapper {
  width: 100%;
    padding: 10px 15px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif !important;
}
.login button {
  width: 100%;
    padding: 10px 15px;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif !important;
    height: 100%;
  }
  
body p{
  font-family: 'Poppins', sans-serif !important;

}

input.edittrigger:focus{
  outline: none;
}